.viewer {
  letter-spacing: 2px;
  font-size: 28px;
  color: #E8630A;
  font-weight: 600;
  margin-bottom: 4px;
  overflow: hidden;
  word-wrap: break-word;
}

.viewer-container {
  text-align: center;
}

.copy-btn {
  border: 1px solid #006E7F;
  color: #006E7F;
  font-weight: 600;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
}